body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  color: white;
  display: flex;
  justify-content: center;
  background-image: url("img/night-4702174_1920.jpg");
}

main {
  display: flex;
  width: 100%;
  height: 100vh !important;
  padding: 0 20px;
  gap: 20px;
}

#profile {
  width: 20%;
  border-right: 1px solid #3a3a3a;
  text-align: center;
  position: fixed; /* Define a posição fixa */
  height: 78.5vh; /* Define a altura total da janela de visualização */
  overflow-y: auto; /* Habilita o scroll vertical */
}

#content {
  width: 80%;
  margin-left: 25%;
  height: 78.5vh;
  overflow-y: auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative; /* Necessário para posicionamento absoluto */
}

#avatarImg img {
  width: 100px; /* Defina a largura da imagem */
  height: 100px; /* Defina a altura da imagem */
  border-radius: 50%; /* Faça a imagem ter bordas arredondadas */
  border: 2px solid white; /* Adicione uma borda branca */
  box-shadow: 4px 4px 4px #333; /* Adicione uma sombra */
}
#bio {
  font-size: 18px;
}
.btnProfile {
  margin: 20px 5px 0 0;
  padding: 4px 6px;
  background-color: #ddd;
  box-shadow: 2px 2px 2px #333;
  border: none;
  border-radius: 5px;
}
.btnProfile:hover {
  transform: scale(1.1);
}
hr {
  margin: 20px 0;
  border: 1px solid #444;
}

/* information end icons */
#containerCards {
  margin-top: 40px;
}
#containerIcons {
  display: flex;
}
#infoIcons {
  margin: auto;
}
.iconsFlex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.iconsFlex img {
  width: 30px;
  height: 30px;
}
.boxIcons {
  text-align: left;
  margin: 10px 0;
}
.boxIcons img,
p {
  margin: 0px;
  font-size: 16px !important;
}
.boxIcons a{
  text-decoration: none;
  color: white;
}
#iconsImg{
  width: 20px;
  height: 20px;
}
/* cards responsivos */
#cards {
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center; /* Centralizar os cards horizontalmente */
}

.boxCards {
  width: 42%;
  background-color: #333333a1;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  z-index: 0;
  box-shadow: 2px 2px 2px 4px #00000023;
}
.boxCards:hover {
  transform: scale(1.02) !important;
  box-shadow: 1px 1px 4px 2px #f29e384b !important;
}
.boxCards img {
  width: 50px;
  height: 50px;
}
.cardsText {
  margin-left: 10px;
}

/* propriedades padrão  */
/* centralizar as divs  */
.center {
  margin: auto;
}
.flexContent {
  height: 78vh;
  padding: 40px 20px;
  background-color: #333333b6;
  box-shadow: 2px 2px 4px 4px #00000023;
  margin: 40px 0;
  border-radius: 20px;
}

/* Estilo do cabeçalho */
header {
  position: relative;
  right: 20px;
  bottom: 40px;
  width: 40%;
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px 0 20px 0;
  z-index: 999;
}

/* Estilo do logotipo */
.logo a {
  color: white;
}
.logo img {
  width: 80px;
}
/* Estilo do ícone de menu */
.lines {
  display: none;
  cursor: pointer;
}
.line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  margin-right: 40px;
}

/* Estilo da lista de links de navegação */
nav {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 0 20px 0;
  padding: 5px 25px;
  background-color: #333333a1;
}
.nav-links {
  font-size: 18px;
  list-style: none;
  padding: 0;
  display: flex;
}
.nav-links li {
  margin: 0 10px;
}
.nav-links li:hover {
  transform: scale(1.1) !important;
}
.nav-links a {
  text-decoration: none;
  color: white;
}
.nav-links a:hover {
  color: #ccc;
  transform: scale(1.1) !important;
}
.nav-links li:first-child a {
  color: #f29d38;
}

/* conteudo do about  */
#myProjects,
#technology {
  margin-top: -50px !important;
}
#about,
#myProjects,
#technology {
  margin-top: -90px;
  padding: 10px;
}
#about h1,
#myProjects h1,
#technology h1 {
  font-size: 34px;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 20px;
}
.title-container {
  display: flex;
  justify-content: flex-end; /* Alinha os elementos à direita */
  align-items: center; /* Alinha verticalmente os elementos */
}

.title {
  margin: 50px -50px 0 0; /* Adiciona um espaço entre o título e a linha */
}

#lineAbout {
  width: 40px;
  height: 3px;
  background-color: #f29d38;
  border-radius: 20px;
  position: relative;
  margin: 40px 15px -45px 0;
}

#about p,
#myProjects p,
#technology p {
  margin: 20px 0;
  color: #e1e1e1;
  font-size: 20px;
}

/* seção dos projetos  */
/* cards responsivos */
#cardsProjects {
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center; /* Centralizar os cards horizontalmente */
}

.boxCardsPro {
  width: 42%;
  height: 250px;
  background-color: #333333a1;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  z-index: 999;
  box-shadow: 2px 2px 2px 4px #00000023;
}
.boxCardsPro:hover {
  transform: scale(1.02) !important;
  box-shadow: 1px 1px 4px 2px #f29e384b !important;
}
.boxCardsPro img {
  width: 200px;
  height: 200px;
}
.cardsTextPro {
  margin-left: 10px;
}
.cardsTextPro h3 {
  font-size: 20px;
  margin-bottom: -10px;
}
.cardsTextPro p {
  font-size: 16px !important;
}
.btnPro {
  margin-top: -20px;
}
#mac {
  height: 130px;
}
.viewsProjects {
  margin: 0 20px 0 0 !important;
}
.reposImg img {
  position: absolute;
  width: 40px !important;
  height: 40px !important;
  margin: -8px 0 0 -10px !important;
}
.reposImg img:hover {
  transform: scale(1.1);
}
/* seção de contatos  */
/* cards responsivos */
.cardsTechs {
  margin-top: -30px !important;
}
#cardsTech {
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center; /* Centralizar os cards horizontalmente */
}

.boxCardsTech {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #333333a1;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  z-index: 0;
  box-shadow: 2px 2px 2px 4px #00000023;
}
.boxCardsTech:hover {
  transform: scale(1.02) !important;
  box-shadow: 1px 1px 4px 2px #f29e384b !important;
}
.boxCardsTech img {
  width: 50px;
  height: 50px;
  margin: auto;
}

/* footer  */
/* Estilos para o footer */
footer {
  color: #c9d1d9; /* Cor do texto */
  padding: 20px; /* Espaçamento interno */
}

/* Estilos para os detalhes (summary) */
details summary {
  font-size: 20px;
  color: #f29d38; /* Cor do texto do summary */
  font-weight: bold; /* Negrito */
  cursor: pointer; /* Ícone de cursor de apontador */
}

/* Estilos para as listas dentro dos detalhes */
details ul {
  list-style-type: none; /* Remover marcadores de lista */
  padding-left: 0; /* Remover espaçamento à esquerda */
}

/* Estilos para os parágrafos dentro das listas */
details p {
  margin: 0; /* Remover margens */
}

/* Estilos para as linhas horizontais */
hr {
  border-color: #4e4e4e !important; /* Cor da linha */
  margin: 10px 0; /* Espaçamento em cima e embaixo */
}
/* butao para ir para o topo  */
#imgTop {
  z-index: 999;
  position: absolute !important; /* Alterado para 'fixed' para que a imagem flutue na tela */
  right: 10px;
  bottom: 15px;
  width: 40px;
  height: 40px;
  animation: float 3s ease-in-out infinite; /* Alterada a duração para 3 segundos e o efeito para 'ease-in-out' */
}

#imgTop:hover {
  transform: scale(1.1);
}
.topMobile {
  display: none;
}
.topDesk {
  display: block;
  margin: 0 25px 10px 0;
}

@keyframes float {
  0% {
    transform: translateY(
      0
    ); /* Alterado de 'margin-top' para 'transform: translateY' */
  }
  50% {
    transform: translateY(-5px); /* Movendo a imagem para cima */
  }
  100% {
    transform: translateY(0); /* Voltando a imagem para a posição inicial */
  }
}
/* responsividade para smart  */
@media only screen and (max-width: 287px) {
  #content {
    width: 100%;
    padding: 0 !important;
    gap: 0px !important;
  }
  #about {
    padding: 0 5px !important;
    margin-top: -100px !important;
  }
  .title {
    margin-top: 50px !important;
    font-size: 22px !important;
  }
  .pAbout {
    margin-top: -0px !important;
  }
  #lineAbout {
    margin: 75px 0 0 0;
  }
  #about p {
    font-size: 12px !important;
  }
  nav {
    border-radius: 0 0 5px 0 !important;
    padding: 5px !important;
    background-color: #3e3e3e;
    box-shadow: -1px -1px 4px 4px #3a3a3a67;
  }
  .lines {
    margin-left: 5px !important;
  }
  .line {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 5px;
    margin-right: 20px !important;
  }
  .nav-links.active {
    width: 100% !important;
    top: 20px !important;
    padding: 10px 10px 10px 0;
  }
  .nav-links.active li {
    margin-bottom: 10px !important;
    font-size: 12px !important;
  }
  .boxCards {
    height: auto !important;
    padding: 0 10px 18px 0 !important;
    margin: 5px 2px !important;
    border-radius: 5px !important;
  }
  .boxCards img {
    width: 20px;
    height: 20px;
    padding-left: 5px;
  }
  .boxCards h3 {
    font-size: 12px;
  }
  .cardsText p,
  .boxCardsPro p {
    margin: -5px !important;
    font-size: 10px !important;
  }/* seção dos projetos  */
/* cards responsivos */
#cardsProjects {
  display: flex;
  width: 100%;
  margin: 0 !important;
  flex-wrap: wrap;
  justify-content: center; /* Centralizar os cards horizontalmente */
}
.cardsTextPro {
  margin-left: 10px;
}
.cardsTextPro h3 {
  font-size: 12px;
  margin:0 0 10px -5px;
}
.cardsTextPro p {
  font-size: 10px !important;
}
.btnPro {
  font-size: 10px ;
  padding: 2px 2px;
  margin-top: 20px;
}
#mac {
  height: 130px;
}
.reposImg img {
  position: absolute;
  width: 25px !important;
  height: 25px !important;
  margin: 15px 0 0 -15px !important;
}
.boxCardsPro {
  height: auto !important;
  background-color: #333333a1;
  padding: 10px 5px !important;
  margin: 5px 0 !important;
  border-radius: 5px !important;
  z-index: 999;
  box-shadow: 2px 2px 2px 4px #00000023;
}
.boxCardsPro:hover {
  transform: scale(1.02) !important;
  box-shadow: 1px 1px 4px 2px #f29e384b !important;
}
.boxCardsPro img {
  width: 50px;
  height: 50px;
}
  #about p,
  #myProjects p,
  #technology p {
    margin: 20px 0;
    color: #e1e1e1;
    font-size: 10px !important;
  }
  .utily{
    margin-left: 10px !important;
    font-size: 13px !important;
  }
  .boxCardsTech{
    width: 20px !important;
    height: 20px !important;
  }
  .boxCardsTech img {
    width: 20px !important;
    height: 20px !important;
    margin: auto;
  }
  footer {
    color: #c9d1d9; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
  }
  
  /* Estilos para os detalhes (summary) */
  details summary {
    font-size: 16px !important;
    color: #f29d38; /* Cor do texto do summary */
    font-weight: bold; /* Negrito */
    cursor: pointer; /* Ícone de cursor de apontador */
  }
  details p{
    font-size: 12px !important;
  }
  #copy{
    font-size: 12px !important;
  }
  #imgTop {
    z-index: 999;
    position: absolute !important; /* Alterado para 'fixed' para que a imagem flutue na tela */
    right: 10px;
    bottom: 5px;
    width: 30px;
    height: 30px;
    animation: float 3s ease-in-out infinite; /* Alterada a duração para 3 segundos e o efeito para 'ease-in-out' */
  }
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {
  /* Estilo da lista de links de navegação */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 0 0 20px 0;
    padding: 20px 10px;
    background-color: #3e3e3e;
    box-shadow: -1px -1px 4px 4px #3a3a3a67;
  }
  .nav-links {
    display: none;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 1px 1px 2px #00000068;
  }

  .lines {
    display: block;
    margin-left: 25px;
  }

  .lines.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .lines.active .line:nth-child(2) {
    opacity: 0;
  }

  .lines.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -8px);
  }

  .nav-links.active {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 54px;
    left: 0;
    background-color: #3e3e3e;
    padding-bottom: 20px;
    text-align: center;
    animation: aparecer 0.5s forwards ease;
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 4px 4px #3131317c;
    z-index: 1;
  }

  @keyframes aparecer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .nav-links.active li {
    margin-bottom: 20px;
    font-size: 50px;
  }
  body {
    display: block;
    background-image: url("img/night-4702174_1920.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  main {
    width: 100%;
    display: flex;
    height: auto !important;
    padding: 0px;
    gap: 0px;
  }
  #profile {
    display: none;
  }
  #content {
    width: 100%;
    margin-left: 0%;
    height: auto;
    overflow-y: auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative; /* Necessário para posicionamento absoluto */
  }
  .flexContent {
    margin: 0;
    background-color: #3e3e3e97;
    border-radius: 0;
  }
  #about {
    margin-top: -180px;
  }
  .boxCards {
    width: 100%;
    background-color: #333333a1;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    z-index: 0;
    box-shadow: 2px 2px 2px 4px #00000023;
  }
  .boxCardsPro {
    width: 100%;
    height: 250px;
    background-color: #333333a1;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    z-index: 0;
    box-shadow: 2px 2px 2px 4px #00000023;
  }
  /* tech  */
  .boxCardsTech {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #333333a1;
  }
  .boxCardsTech:hover {
    transform: scale(1.1) !important;
    box-shadow: 1px 1px 4px 2px #f29e384b !important;
  }
  .boxCardsTech img {
    width: 40px;
    height: 40px;
  }
  /* Estilos para os detalhes (summary) */
  details summary {
    font-size: 24px;
    color: #f29d38; /* Cor do texto do summary */
    font-weight: bold; /* Negrito */
    cursor: pointer; /* Ícone de cursor de apontador */
  }

  .topDesk {
    display: none;
  }
  .topMobile {
    display: block;
  }
}

/* Estilos para dispositivos de tamanho médio (tablets) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    /* Ajuste o plano de fundo para tablets */
    background-image: url("img/night-4702174_1920.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  main {
    /* Ajuste a largura total para ocupar a tela do tablet */
    width: 100%;
    display: flex;
    height: auto !important;
    padding: 0px;
    gap: 0px;
  }

  #profile {
    /* Esconda o perfil para dar mais espaço ao conteúdo */
    display: none;
  }

  #content {
    /* Ajuste as margens e a largura do conteúdo para ocupar toda a tela */
    width: 100%;
    margin-left: 0%;
    height: auto;
    overflow-y: auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }

  .flexContent {
    /* Ajuste as margens para ocupar toda a tela */
    margin: 0;
    background-color: #3e3e3e97;
    border-radius: 0;
  }

  #about {
    /* Ajuste da margem superior para evitar sobreposição com o cabeçalho */
    margin-top: -180px;
  }

  .boxCards {
    /* Ajuste a largura dos cards para preencher a tela */
    width: 100%;
  }

  .boxCardsPro {
    /* Ajuste a largura dos cards para preencher a tela */
    width: 100%;
  }

  /* Tech section */
  .boxCardsTech {
    /* Ajuste a largura dos cards para preencher a tela */
    width: 40px;
    height: 40px;
    background-color: #333333a1;
  }

  .boxCardsTech:hover {
    /* Ajuste do efeito hover */
    transform: scale(1.1) !important;
    box-shadow: 1px 1px 4px 2px #f29e384b !important;
  }

  .boxCardsTech img {
    /* Ajuste do tamanho das imagens nos cards */
    width: 40px;
    height: 40px;
  }

  /* Estilos para os detalhes (summary) */
  details summary {
    /* Ajuste do tamanho do texto do summary */
    font-size: 24px;
  }

  /* Top button */
  .topDesk {
    /* Ocultar o botão de rolar para cima */
    display: none;
  }

  .topMobile {
    /* Exibir o botão de rolar para cima */
    display: block;
  }
}

/* Estilos para dispositivos de tela grande (desktops, laptops) */
@media screen and (min-width: 1025px) {
  /* Aumentar o tamanho da fonte */
  body {
    font-size: 18px;
  }
  #profile {
    /* Esconda o perfil para dar mais espaço ao conteúdo */
    height: 85vh;
  }

  #content {
    height: 85vh;
  }
  /* Ajuste do cabeçalho para ocupar mais espaço horizontalmente */
  header {
    width: 50%;
    right: 0;
    left: auto;
  }

  /* Ajuste do logotipo para ocupar mais espaço horizontalmente */
  .logo img {
    width: 120px;
  }

  /* Ajuste dos links de navegação para ocupar mais espaço horizontalmente */
  nav {
    margin-left: -20px;
  }
  .nav-links li {
    margin: 0 20px; /* Aumentar o espaçamento entre os links */
  }

  /* Ajuste dos títulos das seções para uma melhor legibilidade */
  #about h1,
  #myProjects h1,
  #technology h1 {
    font-size: 40px;
  }
  .boxCards {
    width: 40%;
  }
  /* Ajuste do tamanho dos ícones nos cards */
  .boxCards img {
    width: 60px;
    height: 60px;
  }

  /* Ajuste do tamanho das imagens nos cards de projetos */
  .boxCardsPro img {
    width: 220px;
    height: 220px;
  }

  /* Ajuste do tamanho dos ícones nos cards de tecnologia */
  .boxCardsTech img {
    width: 60px;
    height: 60px;
  }

  /* Ajuste do tamanho do texto do summary dentro dos detalhes */
  details summary {
    font-size: 26px;
  }
}

/* Classe para animação */
.animate-slide-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Classe para ativar a animação quando estiver visível */
.animate-slide-in.active {
  opacity: 1;
  transform: translateY(0);
}
.whiteText {
  color: white;
  background-color: black;
}

.blackText {
  color: black;
  background-color: white;
}
